*{
    margin: 0;
    padding: 0; font-family: 'optima', sans-serif;
    box-sizing: border-box;
} 

body{
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image : url(Image/map.JPG);
  
  }

.container{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.btn{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    position:relative; 
    left:5%; 
    top:-19.5%;
   
  }


.image-button img {
    border-radius: 50%;
    height: 20px;
    margin-right: 10px;

  }

.popup{
    width: 400px;
    background: rgb(218, 223, 225);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    text-align: center;
    padding: 0 30px 30px;
    color :black;
    border: 3px solid #740131;
    transition: transform 0.4s, top 0.4s;
    z-index: 1;
}

.open-popup{
    transition: all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}

.popup img{
    margin-top:  -30px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.popup button{
    margin-top: 10px;
    padding: 10px 0px;
    background: #740131;
    color : white;
    border : 0;
    outline:none;
    font-size: 18px;
    border-radius: 4px;
    cursor:pointer;
    width: 100%;
}

.popup h2{
    color : black;
}

.popup p{
    text-align: left;
    padding: 4px 0px;
    font-weight: bold;
}

.popup p span{
    padding: 0px 4px;
    background-color:rgb(242, 241, 239);
}

.popup .close {
    position: absolute;
    top: -5px;
    right: 5px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
   
}

.popup button[type="direction"] img {
    vertical-align: middle;
    border-radius: 0; 
    box-shadow: none;
    position: relative;
    top: 12px;
    right: 5px;
    
}

.btn[type="Open2"]{
    left:-10%; 
    top:-6.7%;
}

.btn[type="Open3"]{
    left:10.7%; 
    top:9.3%;
}



